
.form1{
    border: 3px solid blue;
    padding: 10px;
    margin-left: 480px  ;
    margin-top: 10px;
    height: 500px;
    width: 25%;
    border-radius: 20px;
    box-shadow: 19px;
    justify-content: center;
}

.input{
    padding-left: 35px;
    margin-left: 20px;
}

.submit{
    float: right;
    margin-right: 70px;
}

#input1{
    margin-top: 0px;
    padding-top: 16px;
}

button{
    border-radius: 5px;
    text-decoration: none;
    outline: none;

}

button a:hover{
    color: white;
    background-color: rgb(239, 6, 25);
}
h1{
    text-align: center;
}
p{
    text-align: center;
}